<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--
      Smoke only   : mvn test -Dgroups=smoke
      Regression   : mvn test -Dgroups=regression
      Security     : mvn test -Dgroups=security
      Negative     : mvn test -Dgroups=negative
      Toàn bộ      : mvn test 

      parallel="methods"
      thread-count="2"
-->

<suite name="OrangeHRM – User Management Suite"
       data-provider-thread-count="1"
       verbose="2">

    <test name="Create User Tests">
        <classes>
            <class name="tests.CreateUserTest"/>
        </classes>
    </test>

    <test name="Read User Tests">
        <classes>
            <class name="tests.ReadUserTest"/>
        </classes>
    </test>

</suite>